# NATS
NATS_URL=nats://localhost:4222
NATS_USER=notification-service
NATS_PASSWORD=your-notification-service-nats-password

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-gmail-app-password
SMTP_FROM_EMAIL=your-email@gmail.com